####Method 1: Using a `for` loop to create a set of counters

In [0]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [0]:
word_counter = {}

In [0]:
for word in book_title:
  if word not in word_counter:
    word_counter[word] =1
  else:
      word_counter[word]+= 1

In [5]:
word_counter

{'adventures': 2,
 'expectations': 1,
 'fin': 1,
 'gasby': 1,
 'great': 2,
 'hamlet': 1,
 'holmes': 1,
 'huckleberry': 1,
 'of': 2,
 'sherlock': 1,
 'the': 2}

#####Method 2: Using the `get` method

In [0]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

In [0]:
word_counter = {}

In [0]:
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1

In [14]:
word_counter

{'adventures': 2,
 'expectations': 1,
 'fin': 1,
 'gasby': 1,
 'great': 2,
 'hamlet': 1,
 'holmes': 1,
 'huckleberry': 1,
 'of': 2,
 'sherlock': 1,
 'the': 2}

In [0]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

In [16]:
for key in cast:
  print(key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

If you wish to iterate through both keys and values, you can use the built-in method `items` like this:

In [18]:
for key, value in cast.items():
  print ("Actor : {}, Role: {}" .format(key, value))

Actor : Jerry Seinfeld, Role: Jerry Seinfeld
Actor : Julia Louis-Dreyfus, Role: Elaine Benes
Actor : Jason Alexander, Role: George Costanza
Actor : Michael Richards, Role: Cosmo Kramer

In [0]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

In [0]:
for object , count in basket_items.items():
  if object in fruits:
    result+= count

In [23]:
print("The Number of fruits presnt in basket are {}".format(result))

The Number of fruits presnt in basket are 23