In [1]:
def somefun():
  word = "hello"
print(word)

NameError: ignored

In [17]:
def somefun():
  word = "hello"
  print(word)
 
  return 
somefun()

hello

In [0]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

In [0]:
egg_count = 0

def buy_eggs(count):
  return count+ 12 # purchase a dozen eggs

egg_count = buy_eggs(egg_count)

In [23]:
print(egg_count)

12

###Lambda Expressions:
You can use lambda expressions to create anonymous functions. That is, functions that don’t have a name. They are helpful for creating quick functions that aren’t needed later in your code. This can be especially useful for higher order functions, or functions that take in other functions as arguments

In [24]:
def multiply(x,y):
  return x * y
multiply(10,10)

100

####With Lambda Expressions

In [25]:
multiply = lambda x,y:x*y

multiply(10,10)

100

In [26]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

# def is_short(name):
#     return len(name) < 10

is_short = lambda name: len(name)<10

short_cities = list(filter(is_short, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

In [27]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

# def mean(num_list):
    # return sum(num_list) / len(num_list)


mean = lambda num_list: sum(num_list)/ len(num_list)
averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

In [28]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

short_cities = list(filter(lambda x: len(x) < 10, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']